@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
  --mainColor : rgba(180, 212, 255, 1); 
  --navColor : rgba(15, 33, 103, 1); 
  --backgroundColor : aliceblue;
  font-family: 'Varela Round', sans-serif;
  
}

body {
  font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
  background: white;
  overflow-x: hidden;

}
::selection {
  background: rgb(255, 119, 0);
}


iframe >*{
  direction: rtl;
}
