.firstSectionContainer {
    display: block;
}

.bensImageFirstSection {
    width: 100%;
    position: relative;
}

.bensTextSection {
    width: 60%;
    margin: auto;
}

.bensImageFirstSection img {
    width: 100%;
    margin: 0;
    height: 60vh;
}

.bensTextSection {
    background-color: var(--backgroundColor);
    padding: 10%;
    border-radius: 5px;
    margin-top: 10%;
}

.bensTextSection>p {
    color: var(--mainColor);
    direction: rtl;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

/* .bensTextSection>p:hover {
    color: var(--navColor);
    scrollbar-highlight-color: var(--navColor);
} */

.bensTextSection>p::selection {
    background-color: var(--navColor);
    color: black;
}

.h1::selection {
    background-color: var(--navColor);
    color: black;
}

.h1 {
    width: 20%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 40%;
    background-color: black;
    opacity: 80%;
    border-radius: 5px;
}


