.main-layout {
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;

    >* {
        grid-column: 2/3;

    }

    .full {
        grid-column: 1/-1;

    }
    

    &.darkMode {
        background-color: black;
    }
}

@media (max-width:1260px) {
    .main-layout {

        grid-template-columns: 10vw 1fr 10vw;

    
}
}

@media (max-width:640px) {
    .main-layout {

        >* {
            grid-column: 1/-1;
        }
    }

}