.navbar {
    height: 10%;
    padding : 10px;
    background-color: black;
    border-bottom: 1px solid var(--mainColor);
}

.link {
    color: var(--navColor);
}

.link:hover {
    cursor: pointer;
}
.brand {
    font-size: 25px;
    color: var(--navColor);
    margin: 0 0 0 0px;
}